
<html ng-app="wtt-paysimple">
	<head>
		<!-- VIEWPORT -->
		<meta name="viewport" content="width=device-width"/>
		<!-- JQUERY -->
		<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
		<script type="text/javascript" src="/node_modules/bootstrap/js/modal.js"></script>
		<!-- STYLE.CSS -->
		<link type="text/css" rel="stylesheet" href="../css/user.css"/>
		<!-- ANGULAR -->
		<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
		<!-- INDEX.JS -->
		<script type="text/javascript" src="../js/reset-password.js"></script>
	</head>
	<body ng-controller="mainController">
		<h1>Reset password</h1>
			<div class="input-con-inner clearfix">
			<div class="group">      
				<input ng-model="password" type="password" class="form-input" name="password" required/>
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>New password</label>
			</div>
			<button ng-click="resetPassword()"> Reset Password</button> 
			<span  class="fail-text" ng-if="failMes">Password reset error occurred </span>
			<span 	class="success-text"  ng-if="succsessMes">Password reset successful </span>
		</div>
	</body>

</html>
